---
layout: default
title: SANEchart - Online Charting for Sexual Assault Nurse Examiners
features:
  - title: Cloud-Based
    image: images/cloud.png
    description: Curious about the cloud? Now be a part of it. With SANEchart, your patient documentation and administration panel go wherever you are. So, login online from any device and get down to work.
  - title: Data Sharing*
    image: images/share.png
    description: Keep community providers like advocay, legal practices and law enforcement in the loop with an integrated portal that allows you to share files and truly provide patient-centered care. All with the highest levels of encryption. You're safe with SANEchart!
  - title: Exam Templates
    image: images/templates.png
    description: Don't need that 5-page strangulation assessment in your chart? Our templates have exam-specific modules to help you stay lean and efficient in your practice.  It's best way to declutter!
  - title: Photo Uploading*
    image: images/camera.png
    description: Exhausted from switching between two different files to access your charting and your images? By upgrading, you have access to tools to help you streamline your documentation and keep photos with your charts.
  - title: QI Tools*
    image: images/quality.png
    description: No more printing out endless duplicates of charts in order to perform quality improvement. With SANEchart, simply add comments and diagrams ONLINE to help staff identify where they can improve their practice and become more efficiency.
  - title: Report Creation*
    image: images/reports.png
    description: We love research! And even better-- SANEchart allows you to access, measure, and analyze data to guide you in helping other organizations utilize your findings for evidenced-based practice.
packages:
  - name: Free
    price: 0
    feature-1: Unlimited Users
    feature-2: Unlimited Charts
    feature-3: Email Support
    feature-4: X
    feature-5: X
    feature-6: X
  - name: Basic
    price: 249
    feature-1: Unlimited Users
    feature-2: Unlimited Charts
    feature-3: Email Support
    feature-4: Camera/QI Tools
    feature-5: X
    feature-6: X
  - name: Pro
    price: 499
    feature-1: Unlimited Users
    feature-2: Unlimited Charts
    feature-3: Priory Email
    feature-4: Camera/QI Tools
    feature-5: Web Training
    feature-6: X
  - name: Enterprise
    price: 999
    feature-1: Unlimited Users
    feature-2: Unlimited Charts
    feature-3: Priority/Phone
    feature-4: Camera/QI Tools
    feature-5: Live Training
    feature-6: Data! Data! Data!
faqs:
  - question: What is SANEchart?
    answer: SANEchart is a cloud-based solution for forensic nurses, forensic practitioners and healthcare organizations to help them organizations documents more efficiently and securely.
  - question: Is SANEchart really free?
    answer: Yes! To document and store your patient exams, SANEchart is the solution to you paper, hybrid and piece-together models. And, we've even added lots of features-- like photo uploads, cloud-based sharing and QI tools to help you improve your practice. Look at our upgraded plans.
  - question: Is SANEchart secure?
    answer: We have the best solution out there for forensic documentation and storage. All of your files are encrypted, so you know you're safe.
  - question: How do I get started?
    answer: Take a look at all our plans (including the free plan) to see which one suites your organization's needs.
  - question: How can we contact you?
    answer: That's simple! Just see our contact page for details.
---

<!--HOMEPAGE-->
<section class="grid top-banner">
  <div class="col-12 subheading">
    <h1></h1>
  </div>
</section>


<!-- THIS IS THE ABOUT SECTION -->

<section class="about-section grey-section">
      <div class="">
        <p>
        A free, cloud-based solution for forensic nurses, forensic practitioners and healthcare organizations.
      </p>
      <p>
        Position your organization for success with tools to help you achieve HIPAA compliance, Meaningful Use, and many more regulatory requirements.
      </p>
    </div>
</section>

<!-- THIS IS THE FEATURES SECTION -->

  <section class="grid white-section features-section">
    <div class="col-12">
      <h2>FEATURES</h2>
    </div>
    {% for feature in page.features %}
    <div class="col-4 feature-box">
      <img class="resize" src="{{ feature.image }}" />
      <h3>{{ feature.title }}</h3>
      <p>{{ feature.description }}
      </p>
    </div>
    {% endfor %}
    <div>
      <p class="asterisk col-12">
        *With upgrade
      </p>
    </div>
  </section>

  <!--SALES PAGE-->

  <section class="grey-section">
    <div class="sale-heading">
      <h2>PRICING</h2>
    </div>
    <div class="grid pricing-table">
      {% for package in page.packages %}
        <div class="col-3">
          <div class="box">
            <ul class="sales-items">
              <li class="sales-items-title">
                <h3>{{ package.name }}</h3>
              </li>
              <li>
                <span class="sales-items-price-dollar">$</span><span class="sales-items-price-amount">{{ package.price }}</span><span class="sales-items-price-period">/mo</span>
              </li>
              <li>
                {{ package.feature-1 }}
              </li>
              <li>
                {{ package.feature-2 }}
              </li>
              <li>
                {{ package.feature-3 }}
              </li>
              <li>
                {{ package.feature-4 }}
              </li>
              <li>
                {{ package.feature-5 }}
              </li>
              <li>
                {{ package.feature-6 }}
              </li>
              <li>
                <a href="#" class="signup-button">Sign Up</a>
              </li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>


  <!--TESTIMONIALS-->

  <section class="testimonial-background white-section">
    <div class="testimonial-padding">
      <h2>TESTIMONIALS</h2>
    </div>
    <div class="image-grid" id="portfolio-grid">
      <div class="grid-item pic-1 grid-item-w3x grid-item-h2x flexcenter">
        <p class="flexcenter">
        "Before we had a hyrid model of paper and PDF form we've pieced together for documenting purposes. Now it's all in one. Thanks SANEchart!"
        </p>
      </div>

      <div class="grid-item head-1 flexcenter">
        <p class="flexcenter">
          SANEchart
        </p>
      </div>
      <div class="grid-item head-2 flexcenter">
        <p class="flexcenter">
          SANEchart
        </p>
      </div>
      <div class="grid-item head-3 flexcenter">
        <p class="flexcenter">
          "The most important decision we've made!"
        </p>
      </div>
      <div class="grid-item pic-2 grid-item-w2x grid-item-h2x flexcenter">
        <p class="flexcenter">
          "SANEchart is great! Now we get our charts from our providers through a secured link instead of fax."
        </p>
      </div>

      <div class="grid-item pic-3 flexcenter">
        <p class="flexcenter">
          SANEchart
        </p>
      </div>
      <div class="grid-item grid-item-w3x pic-4 flexcenter">
        <p class="flexcenter">
          SANEchart
        </p>
      </div>
      <div class="grid-item pic-5 flexcenter">
        <p class="flexcenter">
          SANEchart
        </p>
      </div>
    </div>
  </section>


  <!-- THIS IS THE FAQ SECTION -->
  <section class="grey-section faqs-section">
    <h2>FAQs</h2>
    <div class="faqs-box">
      {% for faq in page.faqs %}
        <div class="faq">
          <div class="faq-question">
            <div>
              <span>
                <i class="fa fa-plus-circle"></i>
              </span>
              {{ faq.question }}
            </div>
            <div class="faq-answer">
              <p>{{ faq.answer }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <!--CONTACT PAGE-->
  <section class="contact-section white-section">
    <h2>CONTACT US</h2>
    <form action="//formspree.io/marsha.battee@gmail.com" method="post">
        <label for=“first-name”>Name</label>
        <input type="text" id=“name” name="name" required />
        <!-- placeholder="" -->
        <label for=“organization”>Organization</label>
        <input type="text" id=“organization” name="organization">
        <label for=“tel”>Phone</label>
        <input type="tel" id=“tel” name="tel">
        <label for=“email”>Email</label>
        <input type="email" id=“email” name="email" required />
        <label for=“comment”>Your Message</label>
        <textarea name="comment" id=“comment” required></textarea>
        <input type="submit" value="SEND">
    </form>
  </section>

<section class="testimonials-section">
</section>

<!--FOOTER-->

<footer class="grid center">
  <div class="col-12">
    <img class="logo" src="/images/logo1.png" />
  </div>
  <div class="col-12">
    <a class="footer-link" href="#">HOME</a>
    <a class="footer-link" href="#">ABOUT</a>
    <a class="footer-link" href="#">CONTACT</a>
  </div>
  <div class="col-12"
    <a class="footer-link" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a class="footer-link" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a class="footer-link" href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>

  </div>
  <div class="col-12">
    <p>
      SANEchart, PO Box 55604, Washington, DC 20040
    </p>
    <p>
      Copyright 2017 SANEchart.
      <a href="#">Terms of Service</a> |
      <a href="#">Privacy Policy</a>
    </p>
  </div>


</footer>




<!--Contact-->

<!--
  <section>
    <h2>Contact Us</h2>
    <div>
      <p>
        Want to learn more about getting SANEchart for your organization? Complete the form below.
      </p>
    </div>
    <div>
      <p>
        [FORM HERE.]
      </p>
    </div>
  </section> -->

<!--THIS IS CODE FOR A CONTACT FORM FROM FORMSPREE.IO **REMEMBER TO ADD 'THANK YOU PAGE'-->
