---
layout: default
title: SANEchart - Online Charting for Sexual Assault Nurse Examiners
features:
  - title: Cloud-Based
    image: images/cloud.png
    description: This is sample text for features.
  - title: Data Sharing*
    image: images/share.png
    description: This is sample text for features.
  - title: Exam Templates
    image: images/templates.png
    description: This is sample text for features.
  - title: Photo Uploading*
    image: images/camera.png
    description: This is sample text for features.
  - title: QI Tools*
    image: images/quality.png
    description: This is sample text for features.
  - title: Report Creation*
    image: images/reports.png
    description: This is sample text for features.
packages:
  - name: Free
    price: 0
    feature-1: Something
    feature-2: Something else
    feature-3: Charting
  - name: Basic
    price: 50
    feature-1: Something
    feature-2: Something else
    feature-3: Charting
    feature-4: Basic thing
  - name: Pro
    price: 100
    feature-1: Something
    feature-2: Something else
    feature-3: Charting
    feature-4: Basic thing
    feature-5: Pro thing
  - name: Enterprise
    price: 1000
    feature-1: Something
    feature-2: Something else
    feature-3: Charting
    feature-4: Basic thing
    feature-5: Pro thing
    feature-6: Enterprise thing
---

<!--HOMEPAGE-->
<section>
  <header class="grid top-banner">
    <div class="header-logo col-3 menu">
      <img src="images/sanechartlogo.png" />
    </div>
    <div class="col-9">
      <nav class="menu">
        <a class="word-spacing" href="#about">ABOUT</a>
        <a class="word-spacing" href="#products/services">PRODUCTS/SERVICES</a>
        <a class="word-spacing" href="#watch demo">WATCH DEMO</a>
        <a class="word-spacing"
        href="#contact">CONTACT</a>
      </nav>
    </div>
    <div class="col-12 subheading">
      <p>THE EASIEST WAY TO DOCUMENT FORENSIC FINDINGS</p>
    </div>
  </header>
</section>


<!-- THIS IS THE ABOUT SECTION -->

<section class="about-section grey-section">
      <div class="">
        <p>
        A free, cloud-based solution for forensic nurses, forensic practitioners and healthcare organizations.
      </p>
    </div>
</section>

<!-- THIS IS THE FEATURES SECTION -->

  <section class="grid white-section features-section">
    <div class="col-12">
      <h2>FEATURES</h2>
    </div>
    {% for feature in page.features %}
    <div class="col-4 feature-box">
      <img class="resize" src="{{ feature.image }}" />
      <h3>{{ feature.title }}</h3>
      <p>{{ feature.description }}
      </p>
    </div>
    {% endfor %}
  </section>


  <!--Sales Page-->

  <section class="grid2 grey-section">
    {% for package in page.packages %}
      <div class="col-3 box">
        <ul class="sales-items">
          <li class="sales-items-title">
            <h3>{{ package.name }}</h3>
          </li>
          <li>
            <span class="sales-items-price-dollar">$</span><span class="sales-items-price-amount">{{ package.price }}</span><span class="sales-items-price-period">/mo</span>
          </li>
          <li>
            {{ package.feature-1 }}
          </li>
          <li>
            {{ package.feature-2 }}
          </li>
          <li>
            {{ package.feature-3 }}
          </li>
          <li>
            {{ package.feature-4 }}
          </li>
          <li>
            {{ package.feature-5 }}
          </li>
          <li>
            {{ package.feature-6 }}
          </li>
        </ul>
      </div>
    {% endfor %}
  </section>


  <!-- THIS IS THE FAQ SECTION -->
    <!-- <section>
      <div class="dropdown-faq">
          <a href="#">Question1</a>
             <div class="dropdown-content">
               <p>This is the answer to question #1.</p>
      </div>
      <div class="dropdown-faq">
          <a href="#">Question2</a>
          <div class="dropdown-content">
      </div>
    </section> -->

  <!--TTHIS IS THE TESTIMONIAL SECTION -->
<!--
  <section class="grid testimonial-background">
    <div class="col-12">
      <h2>TESTIMONIALS</h2>
    </div>
    <div class="col-4 center">
      <img class="testimonial-photos" src="images/headshot1.jpg" />
    </div>
    <div class="col-8">
      <p>
        Marsha is awesome! This is sample text about a testimonial.
      </p>
      <p>
        Jane Doe,
      <span>Forensic Nurse Examiner</span>
      </p>
    </div>
 </section>

 <section class="grid testimonial-background2">
   <div class="col-12">
     <h2>TESTIMONIALS</h2>
   </div>
   <div class="col-8 center">
     <p>
       Marsha is awesome! This is sample text about a testimonial.
     </p>
     <p>
       Jane Doe,
     <span>Forensic Nurse Examiner</span>
     </p>
   </div>
</section>

 -->




<!-- <section>
  <header class="grid top-banner">
    <div class="header-logo col-3">
      <img src="images/sunflower.png" />
    </div>
    <div class="col-9">
      <nav class="menu">
        <a class="word-spacing" href="#about">ABOUT</a>
        <a class="word-spacing" href="#products/services">PRODUCTS/SERVICES</a>
        <a class="word-spacing" href="#watch demo">WATCH DEMO</a>
        <a class="word-spacing"
        href="#contact">CONTACT</a>
      </nav>
    </div>
    <div class="col-12">
      <h1 class="homepage-title">
        SANEchart
      </h1>
      <div class="small">
          A FREE, CLOUD-BASED SOLUTION FOR FORENSIC NURSES, FORENSIC PRACTITIONERS AND HEALTHCARE ORGANIZATIONS
      </div>
      <div class="col-12">
        <p class="demo-button">
          WATCH VIDEO NOW
        </p>
      </div>
  </header>
</section> -->

<!--Contact-->

<!--
  <section>
    <h2>Contact Us</h2>
    <div>
      <p>
        Want to learn more about getting SANEchart for your organization? Complete the form below.
      </p>
    </div>
    <div>
      <p>
        [FORM HERE.]
      </p>
    </div>
  </section> -->

<!--THIS IS CODE FOR A CONTACT FORM FROM FORMSPREE.IO **REMEMBER TO ADD 'THANK YOU PAGE'-->

<!-- <form method="POST" action="http://formspree.io/marsha.battee@gmail.com">
  <input type="name" name="name" placeholder="First Name">
  <input type="name" name="name" placeholder="Last Name">
  <input type="email" name="email" placeholder="Email Address">
<textarea name="message" placeholder="Your Message"></textarea>
  <button type="submit">Send</button>
</form> -->


<!--THIS IS CODE FOR A CENTERED VIDEO-->

    <!-- <section>
      <div class="video-background">
        <p class="video-text">
          Watch 2 Minute Demo Now
        </p>
        <iframe class="video" src="https://player.vimeo.com/video/113506408" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </section> -->

    <!-- <section class="grid charting-templates">
      <div class="col-12">
        <h2>Charting Templates</h2>
      </div>
      <div class="col-6 block">
        <h3 class="template-text">
          Sexual Assault
          <div>
            Adult/Peds
          </div>
        </h3>
      </div>
      <div class="col-6 block2">
        <h3 class="template-text">
          Abuse/Neglect
          <div>
            Elder/Peds
          </div>
        </h3>
      </div>
      <div class="col-6 block2">
        <h3 class="template-text">
          Intimate Partner Violence
        </h3>
      </div>
      <div class="col-6 block">
        <h3 class="template-text">
          Death Investigations
        </h3>
      </div>
    </section> -->

<!--Sales Table Reference-->
<!--
<section class="grid2 grey-section">
    <div class="col-3 box">
      <h3>Free</h3>
      <p class="p-sales">
        <ul class="sales-items">
          <li>
            Item 1
          </li>
          <li>
            Item 2
          </li>
          <li>
            Item 3
          </li>
          <li>
            Item 4
          </li>
          <li>
            Item 5
          </li>
        </ul>
      </p>
    </div>
</section> -->
