<!DOCTYPE html>
<html>

<head>
  <!-- START head element -->

  <title>{{ page.title }}</title>

<!--Tells browser that this is repsonsive design. Always use the META below.-->

  <meta name="viewport" content="width=device-width, inital-scale=1">

  <!--google font below-->

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!--Fontawesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!--gridlex-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css">

<!--This is my main css file, keep at bottom --->
  <link rel="stylesheet" href="css/styles.css" type="text/css">


  <!-- END head element -->
</head>

  <body>
    <header class="grid">
      <div class="header-logo col-3">
        <img src="images/sanechartlogo.png" />
      </div>
      <div class="menu col-6">
        <a class="word-spacing" href="#about">ABOUT</a>
        <a class="word-spacing" href="#products/services">FEATURES</a>
        <a class="word-spacing" href="#watch demo">WATCH DEMO</a>
        <a class="word-spacing"
        href="#contact">CONTACT</a>
      </div>
      <div class="col-3">
        <a href="#" class="invite-button">
          GET MY INVITE
        </a>
      </div>
    </header>

    <div class="invite-popup">
      <!-- INVITATION -->
    </div>

    <div class="main">
      {{ content }}
    </div>

  </body>

  <!--JQuery Library-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!--Adding main.js-->
  <script src="/js/main.js"></script>

  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</html>
